* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Not sure yet */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

/* Header which is stuck to the top */
.header {
    /* background: #f7f7f7; */
    background: #f7f7f7;
    color: #f7f7f7;
    padding: 0px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 6;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);

}

.header nav ul {
    list-style: none;
    text-align: center;
    background: #f7f7f7;}

.header nav ul li {
    position: relative;
    top: 20px;
    display: inline;
    margin: 10px 11px;
    
}
/* List of links inside of the header */
.header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 100px;
    background: #f7f7f7;
    color: green;
}

/* The home page */
.home{
    margin-bottom: 200px;
    padding: 50px 0;
    color: black;
}
/* The title inside the home page */
.home h1 {
    text-align: center;
    margin-top: 100px;
    color: green;
    font-size: 60px;
    text-shadow: 2px 2px 1px black;
}

#number1{
    text-align: center;
    margin-bottom: 155px;
}
/* The black text of the title */
.highlight {
    color: black;
    text-shadow: 1px 1px 1px green;
    
}
/* The two links that go to projects or contact */
.sections{
    position: relative;
    bottom: 130px;
    display: flex;
    flex-direction: column;
}
 
/* Projects button*/
.section1{
    position: relative;
    left: 35rem;
    font-size: x-large;
    border: solid 3px green;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: green;
}
/* Contact button*/
.section2{
    position: relative;
    bottom: 38px;
    left: 46.5rem;
    font-size: x-large;
    border: solid 3px green;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: green;
}

 .about, .projects, .video, .contact {
    padding: 50px 0;
    background: #f7f7f7;
    color: black;
    border: solid 1px black;
}

.about h2, .projects h2, .contact h2, .video h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 43px;
    text-shadow: 1px 1px 1px green;
}

#number2, #number2 h2, #number2 p{
    margin-bottom: 125px;
    background: #f7f7f7;

}
/* ABOUT ME SECTION */
.about{
    background: #f7f7f7;
}
.about h1{
    font-size: 30px;
}
/* IMAGE OF ME */

.goku{
    background: #f7f7f7;

}

.goku img{
    width: 400px;
    height: auto;
    margin-bottom: -390px;
    margin-top: -100px;
    /* border-radius: 20rem; */
}

/* ABOUT ME TEXT */
#number2 p{
position: relative;
left: 700px;
width: 400px;
margin-bottom: 0.5rem;
font-weight: 300;
font-size: 17px;
}

.skillsp{
    background: #f7f7f7;
    position: relative;
    left: 1035px;
    bottom: 100px;
}

/* ABOUT ME PHOTOS */
.skills{
    background: #f7f7f7;
    position: relative;
    left: 875px;
    margin-top: -90px;
    margin-bottom: 70px;
    margin-right: 190px;
    gap: 5px;
}
/* Languages in particular */
.skills img{
    background: #f7f7f7;
    width: 40px;
    height: auto;
}

.projects h2 {
    margin-bottom: 80px;
}

/* TESLA CLONE IMAGE */
.tesla_clone {
    position: relative;
     /* This will be the reference point for the absolute positioning */
}
.tesla_clone img{
    height: 32rem;
    position: relative;
    left: -100px;
    z-index: 1;
    margin-bottom: 150px;

}
/* The description of the program */
.tesla_clone_text{
    position: absolute;
    left: 540px;
    top: 100px;
    border-width: 2px;
    width: 650px;
    height: 300px;
    border-radius: 0.25rem;
    padding: 35px;
    z-index: 3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
/* The source code */
.clone_code{
    height: 30px;
    
    /* bottom: 50px; */
}

.clone_code a{
    position: relative;
    bottom: 100px;
    left: 10px;
    text-decoration: none;
    color: green;
}
/* github image */
.clone_code img{
   height: 30px;
   width: auto;
   background-color: #f7f7f7;
   position: relative;
   top: 3.8rem;
   left:1px;
}

/* GUESSING GAME IMAGE */

.guessing_game {
    position: relative;
}

.guessing_game img{
    height: 32rem;
    position: relative;
    left: 270px;
    z-index: 1;
}

/* GUESSING GAME TEXT */
.guessing_game_text{
    position: absolute;
    left: -50px;
    top: 130px;
    border-width: 2px;
    width: 650px;
    height: 300px;
    border-radius: 0.25rem;
    padding: 35px;
    z-index: 3;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}
/* The source code */
.game_code{
    height: 30px;
}

.game_code a{
    position: relative;
    top: 12px;
    left: 13px;
    text-decoration: none;
    color: green;
}
/* github image */
.game_code img{
   height: 30px;
   width: auto;
   background-color: #f7f7f7;
   position: relative;
   top: 1.3rem;
   left:1px;
   
}

/* code for video */
.video{
    padding-bottom: 200px;
}
.video h2{
    text-align: center;
}

.video video{
    width: 800px;
    position: relative;
    left: 300px;
    top: 50px;
}


.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact button {
    display: block;
    width: 30%;
    padding: 10px;
    background: #f7f7f7;
    color: black;
    border: solid 1px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    left: 220px;

}
.contact button:hover {
    background: #f7f7f7;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.socials img{
    position: relative;
    left: 10px;
    width: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.github img{
    
}

footer {
    background: #f7f7f7;
    color: black;
    text-align: center;
    padding: 10px 0;
}
